{% block content %}
{% load static %}
<head>
    <title>
        Stinky Quiz
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<div class="container">

    <div>
        <h1>Hey chummer I know life's been rough and you have no idea how to play White Mage</h1>
        <h2>But I feel the same about web dev yet here we are, fasten your seatbelts, we have a wild ride in front of us</h2>
        <h3>You came to me for the forbidden knowledge of Glare Mage and I am all in to present it to you in it's whole glory</h3>
        <h4>There are many roadbumps and tough choices to make so better prepare for those juicy split second decisions</h4>
        <h5>If your brain doesn't run on caffeine you better start doing coke because there's no way you can comprehend the full power of White Mage sober</h5>
        <h6>It's not Monk but you know it might get close to it one day if you close your eyes and wish long and hard enough</h6>
        <h7>But the Monk knowledge is way way too far from you, and you need more training before you can even think about becoming Monk main, so buckle up kiddo, we have a raid tier to clear</h7>
    </div>
    <center>
    <div>
        <br>
        <form action='quiz/'>
            <button type="submit" class="btn btn-primary">Start the quiz</button>
        </form>
    </div>
    </center>
    
</div>

{% endblock %}